﻿
@{
    ViewBag.Title = "AddTrip";
}

<h2>New Trip</h2>
<!-- ask the admin for the passenger info-->
<form action="/Trip/AddTrip" method="POST">
    <div>
        <label>DriverId:</label><input type="text" name="DriverId" />
    </div>

    <div>
        <label>startLocation:</label><input type="text" name="startLocation" />
    </div>
    <div>
        <label>endLocation:</label><input type="text" name="endLocation" />
    </div>
    <div>
        <label>price:</label><input type="text" name="price" />
    </div>
    <div>
        <label>Time:</label><input type="text" name="Time" />
    </div>
    <div>
        <label>dayOftheweek:</label><input type="text" name="dayOftheweek" />
    </div>
    <div>
        <input type="submit" value="Add Trip" />
    </div>
</form>
