﻿
@{
    ViewBag.Title = "AddTrip";
}

<h2>New Trip</h2>
<!-- ask the admin for the passenger info-->
<form action="/Driver/AddUser" method="POST">
    <div>
        <label>startLocation:</label><input type="text" name="firstName" />
    </div>
    <div>
        <label>endLocation:</label><input type="text" name="lastName" />
    </div>
    <div>
        <label>price:</label><input type="text" name="email" />
    </div>
    <div>
        <label>Time:</label><input type="text" name="email" />
    </div>
    <div>
        <label>dayOftheweek:</label><input type="text" name="email" />
    </div>
    <div>
        <input type="submit" value="Add Driver" />
    </div>
</form>
