<!--describing the view-->
@model IEnumerable<ridesnShare.Models.DriverDTO>
@{
    ViewBag.Title = "Driver";
}

<div class="sidebar">
    <h2 class="sbc">RideShare</h2>
    <div class="sbc"><a href="/Passenger/List">Passengers</a></div>
    <div class="sbc"><a href="/Driver/List">Drivers</a></div>
    <div class="sbc"><a href="/Booking/List">Bookings</a></div>
    <div class="sbc"><a href="/Trip/List">Trips</a></div>
</div>

<div class="cnt">
    <div>
        <h2>List of Drivers</h2>
        <!--for each loop that determines the info we wanna render for the drivers-->

        <a href="/Driver/Add">Add a Driver</a>


        <form action="" method="GET">
            <div>
                <input class="input" type="text" name="DriverSearchKey" />
                <input class="submit" type="submit" value="Search" />
            </div>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <td><b>FirstName</b></td>
                <td><b>LastName</b></td>
                <td><b>Age</b></td>
                <td><b>CarType</b></td>
                <td><b>Update</b></td>
                <td><b>Delete</b></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var driver in Model)
            {
                <tr>
                    <td>@driver.firstName</td>
                    <td>@driver.lastName</td>
                    <td>@driver.Age</td>
                    <td>@driver.CarType</td>

                    <td><a class="mbtn update" href="/Driver/Edit/@driver.DriverId">Update</a></td>
                    <td><a class="mbtn delete" href="/Driver/DeleteConfirm/@driver.DriverId">Delete</a></td>
                </tr>

            }
        </tbody>
    </table>

</div>


