<!--describing the view-->
@model IEnumerable<ridesnShare.Models.PassengerDTO>
@{
    ViewBag.Title = "List";
}
<!--Side bar-->
<div class="sidebar">
    <h2 class="sbc">RideShare</h2>
    <div class="sbc"><a href="">Passengers</a></div>
    <div class="sbc"><a href="/Driver/List">Drivers</a></div>
    <div class="sbc"><a href="/Booking/List">Bookings</a></div>
</div>

<div class="cnt">
    <div>
        <!-- Header section -->
        <h2>List of Passengers</h2>
        <!-- Form section for searching passengers -->

        <a href="/Passenger/Add">Add a Passenger</a>


        <form action="" method="GET">
            <div>
                <input class="input" type="text" name="PassengerSearchKey" />
                <input class="submit" type="submit" value="Search" />
            </div>
        </form>
    </div>
    <!-- Table section displaying passenger information -->
    <table>
        <thead>
            <!-- Table header -->
            <tr>
                <td><b>FirstName</b></td>
                <td><b>LastName</b></td>
                <td><b>Update</b></td>
                <td><b>Delete</b></td>
                <td><b>Book a trip</b></td>
            </tr>
        </thead>

        <tbody>
            <!-- Loop through each passenger and display their information -->
            @foreach (var passenger in Model)
            {
                <tr>
                    <td>@passenger.firstName</td>
                    <td>@passenger.lastName</td>
                    <td><a class="mbtn update" href="/Passenger/Edit/@passenger.passengerId">Update</a></td>
                    <td><a class="mbtn delete" href="/Passenger/DeleteConfirm/@passenger.passengerId">Delete</a></td>
                    <td><a class="mbtn bg-dark bg-opacity-10" href="/Trip/SearchForTrip/@passenger.passengerId">Book a Trip</a></td>
                </tr>

            }
        </tbody>
    </table>

</div>
